<% include header %>
	
<h2>Add new Favorite.</h2>

<form method="post" role="form">
	<div class= "form-group">
		<label for="tite">Addition to List</label>
		<input type="text" class="form-control" id="title" name = "title" placeholder = "Enter new favorite" required>
	</div>
	
	
	<div class = "form-group">
		<input type = "submit" value = "Post Favorite" class="btn btn-primary">
	</div>

</form>	

<% include footer %>